// *:not([class^="fa"], [class*=" fa-"]) {
//     font-family:  'Mirza', sans-serif!important;
//     font-weight: 300;
// }
/* Add these styles if you want to customize the appearance */
.small-box .icon i.fa-arrow-up {
    color: #28a745 !important; /* Green for up arrow */
    font-size: 20px;

}

.small-box .icon i.fa-arrow-down {
    color: #dc3545 !important; /* Red for down arrow */
    font-size: 20px;
}

.small-box .inner {
    min-height: 120px; /* Adjust as needed */
}

 
.brannedbtn{
    
    background-color: #ff0080!important;
    color: white!important;
    transition: 0.2s ease-in-out;
    &:hover{
    background-color: #9f0050!important;
    color: white;
    }
    a{
        text-decoration: none;
        color: white;
    }
}

    .tower-info-delete:hover {
        background-color: #d1d5d8 !important; /* Slightly darker background on hover */
        transition: background-color 0.3s ease; /* Smooth transition */
    }

    .tower-info-delete:hover .fas.fa-trash {
        color: #a71d2a !important; /* Darker red for the trash icon on hover */
    }
    .pageTitle {
        p{
            // font-family: Arial, Helvetica, sans-serif;
            padding: 0 10px;
        }
    }
    
.redcolor{
    background-color: rgba(255, 0, 0, 0.522);
    color: white;
}
@media print {
    h4 {
        -webkit-print-color-adjust: exact; /* For WebKit-based browsers like Chrome */
        print-color-adjust: exact; /* For other browsers */
    }
}
.contractformprint{
    .watermark {
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        opacity: 0.1;
    }    
    border: 1px solid black;
    padding: 20px;
    padding-top: 50px;
    
    .head{
        padding-bottom: 20px;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid gainsboro;
        .text{
            text-align: center;
        }
        img{
            height: 90px;
        }
     
    }
    .signature{
        border-top: 1px solid gainsboro;

    }
    .contentofform{
        
        div{
            padding: 20px;
            margin: 10px;
            h4{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 5px ;
                padding: 5px 10px;
                background-color: rgb(228, 228, 228);
            }
        }
    }
}
.dashboardtitle{
    font-size: 2rem; 
    background: linear-gradient(to right,  #000000,#ff005d,);
    color: transparent; 
    -webkit-background-clip: text;font-weight:800;
    margin: 0;
}
.totalamount{
    // font-size: 20px;
}
.userbox{
    // background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    li{
        margin: 10px;
        padding: 10px;
        background-color:  #ff0080;
        border-radius: 10px;
       a{
        color: white;
       }
    }
}
.custombadge{
    strong{
        color: red !important;
    }
}
.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8px;
    align-items: center;
    flex-wrap: wrap;
    // border: 1px solid red;
    // margin-bottom: -20px;
    // height: 3rem;
    h2{
        font-size: 20px;
        // padding-top: 4px;
    }
    form{
    // border: 1px solid red;
    width: auto;
    height: 2.4rem;
    .dropdown{
    //     // border: 1px solid rgb(0, 225, 127);
    //     // width: 10rem;
    //     select{
    //     font-size: 10px;
        }
    // }
}
}
.brand-image{
    margin-bottom: 10px;
    // height: 90px!important;
    // height: 90px!important;
    object-fit: contain;
    max-height: 80px!important;
    max-width: 80px!important;
}
.usernameinlayout{
    font-weight: bold;
    color: #ff0080!important;

    a{
        color: #ff0080!important;
        cursor: pointer;
    }
}
/* Petrol */
.petrol-bg {
    background-color: #008C45; /* Green */
}

/* Super Petrol */
.super-petrol-bg {
    background-color: #00b7ff; /* Bright Red/Orange */
}

/* Diesel */
.diesel-bg {
    background-color: #df9900; /* Dark Green */
}

/* Gas */
.gas-bg {
    background-color: #ff0080; /* Golden Yellow */
}
.graybg{
    background-color: antiquewhite;
}
.reminderBadge{
    position: relative;
    top: -15px !important;
    left: -16px;
    padding: 2px 15px;
    background-color: #ff0000;
    color: white;
    border-radius: 8px;

}
.reminderBadgeRed{
    background-color: green;
    
}
.reminderBadgeYellow{
    background-color: rgb(255, 200, 0);
}
.reminderBadgeBorderGreen{
    border: 1px solid green;
    background-color: rgba(0, 128, 0, 0.150);
}

.reminderBadgeBorderUpcomming{
    border: 1px solid rgb(255, 200, 0);
    background-color: rgba(255, 200, 0, 0.150);
}
.reminderBadgeBorderRed{
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.150); 
}

 
.useraccounts{
     tbody tr:hover {
        background-color: #f1f1f1; /* Light gray background on hover */
        cursor: pointer; /* Change cursor to pointer on hover */
    }
    td,th{
        text-align: center;
        padding: 0.5rem;
    }

    .useraccountsimage {
        width: 3rem;
        height: 3rem;
        margin: -10px;
        border-radius: 50%;
        object-fit: cover;
        transition: .2s ease-in-out;
        &:hover {
            transform: scale(2.2);
        }
    }
}
.red_color{
    color: red;
}
.width100{
    width: 100%;
    border: 1px solid red;
}
.serial_table{
  padding:10px;
}
.profileImage{
    object-fit: cover!important;
    border: 1px solid #ff0080;
   width: 3rem!important;
   height: 3rem!important;
   margin: -0.8rem!important;
}
.profileImageView{
    object-fit: cover!important;
    border: 1px solid #ff0080;
   width: 8rem!important;
   height: 8rem!important;
   margin: -0.5rem!important;
}
.user-footer{
    display: flex;
    justify-content: center!important;
    align-items: center!important;
}

#success-alert{
    position: fixed !important;
    top: 20px!important;
    transform: translateX(-50%);
left: 50%!important;
z-index: 2000!important;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)!important;
#example1_filter{
display: flex!important;
}
}
.login-page{
    // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    // align-items: flex-end!important;
    flex-direction: row!important;
    justify-content:space-evenly !important;
    @media (max-width: 768px) {
    flex-direction: column!important;
    

        align-items:center!important;

    }
    .login-box{
        .card{
            box-shadow: none;
        }
        transition: .2s ease-in-out;
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        margin-right: 50px!important; // Adjust the margin as needed

        @media (max-width: 768px) {
            margin-right: 0!important;
        }
        &:hover{
        // border-radius: 20px;
            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
        }
    }
    .graphicBox{
       img{
            width: 35rem;
            @media (max-width: 768px) {
                width: 25rem;
                display: none;
            }
       }
    }
}
.formserial{
    display: flex;
    flex-direction: row;
    // border: 1px solid red;
    padding: 10px!important;
    margin-bottom: -10px;
    .input-group-append{
        height: calc(2.25rem + 2px);
    }
}

@media print {
    .useraccounts th:nth-child(5), 
    .useraccounts td:nth-child(5) {
        display: none;
    }

   
}
@media (max-width: 768px) {
    .expensefilterform{
        margin: 10px 0;
    }
}