.brannedbtn{
    background-color: #ff0080!important;
    color: white!important;
    transition: 0.2s ease-in-out;
    &:hover{
    background-color: #9f0050!important;
    color: white;
    }
    a{
        text-decoration: none;
        color: white;
    }
}
.dashboardtitle{
    font-size: 2rem; 
    background: linear-gradient(to right, #ff005d, #000000);
    color: transparent; 
    -webkit-background-clip: text;font-weight:800;
    margin: 0;
}
.totalamount{
    // font-size: 20px;
}
.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8px;
    align-items: center;
    flex-wrap: wrap;
    // border: 1px solid red;
    // margin-bottom: -20px;
    // height: 3rem;
    h2{
        font-size: 20px;
        // padding-top: 4px;
    }
    form{
    // border: 1px solid red;
    width: auto;
    height: 2.4rem;
    .dropdown{
    //     // border: 1px solid rgb(0, 225, 127);
    //     // width: 10rem;
    //     select{
    //     font-size: 10px;
        }
    // }
}
}
.brand-image{
    margin-bottom: 10px;
    // height: 90px!important;
    // height: 90px!important;
    object-fit: contain;
    max-height: 80px!important;
    max-width: 80px!important;
}
.usernameinlayout{
    font-weight: bold;
    color: #ff0080!important;

    a{
        color: #ff0080!important;
        cursor: pointer;
    }
}
/* Petrol */
.petrol-bg {
    background-color: #008C45; /* Green */
}

/* Super Petrol */
.super-petrol-bg {
    background-color: #00b7ff; /* Bright Red/Orange */
}

/* Diesel */
.diesel-bg {
    background-color: #df9900; /* Dark Green */
}

/* Gas */
.gas-bg {
    background-color: #ff0080; /* Golden Yellow */
}
.graybg{
    background-color: antiquewhite;
}

.useraccounts{
     tbody tr:hover {
        background-color: #f1f1f1; /* Light gray background on hover */
        cursor: pointer; /* Change cursor to pointer on hover */
    }
    td,th{
        text-align: center;
        padding: 0.5rem;
    }

    .useraccountsimage {
        width: 3rem;
        height: 3rem;
        margin: -10px;
        border-radius: 50%;
        object-fit: cover;
        transition: .2s ease-in-out;
        &:hover {
            transform: scale(2.2);
        }
    }
}
.red_color{
    color: red;
}
.width100{
    width: 100%;
    border: 1px solid red;
}
.serial_table{
  padding:10px;
}
.profileImage{
    object-fit: cover!important;
    border: 1px solid #ff0080;
   width: 3rem!important;
   height: 3rem!important;
   margin: -0.8rem!important;
}
.profileImageView{
    object-fit: cover!important;
    border: 1px solid #ff0080;
   width: 8rem!important;
   height: 8rem!important;
   margin: -0.5rem!important;
}
.user-footer{
    display: flex;
    justify-content: center!important;
    align-items: center!important;
}

#success-alert{
    position: fixed !important;
    top: 20px!important;
    transform: translateX(-50%);
left: 50%!important;
z-index: 2000!important;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)!important;
#example1_filter{
display: flex!important;
}
}
.login-page{
    // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    // align-items: flex-end!important;
    flex-direction: row-reverse!important;
    justify-content:space-evenly !important;
    @media (max-width: 768px) {
    flex-direction: column!important;
    

        align-items:center!important;

    }
    .login-box{
        .card{
            box-shadow: none;
        }
        transition: .2s ease-in-out;
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        margin-right: 50px!important; // Adjust the margin as needed

        @media (max-width: 768px) {
            margin-right: 0!important;
        }
        &:hover{
        // border-radius: 20px;
            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
        }
    }
    .graphicBox{
       img{
            width: 35rem;
            @media (max-width: 768px) {
                width: 25rem;
                display: none;
            }
       }
    }
}
.formserial{
    display: flex;
    flex-direction: row;
    // border: 1px solid red;
    padding: 10px!important;
    margin-bottom: -10px;
    .input-group-append{
        height: calc(2.25rem + 2px);
    }
}

@media print {
    .useraccounts th:nth-child(5), 
    .useraccounts td:nth-child(5) {
        display: none;
    }

   
}
@media (max-width: 768px) {
    .expensefilterform{
        margin: 10px 0;
    }
}